@font-face {
    font-family: RoadRage;
    src: url(/fonts/RoadRage-Regular.ttf);
}

@font-face {
    font-family: SometypeMono;
    src: url(/fonts/Sometype_Mono/static/SometypeMono-Bold.ttf);
}

@font-face {
    font-family: OrbitronBlack;
    src: url(/fonts/Orbitron/static/Orbitron-Black.ttf);
}

@font-face {
    font-family: OrbitronXtraBold;
    src: url(/fonts/Orbitron/static/Orbitron-ExtraBold.ttf);
}

@font-face {
    font-family: OrbitronBold;
    src: url(/fonts/Orbitron/static/Orbitron-Bold.ttf);
}

@font-face {
    font-family: OrbitronRegular;
    src: url(/fonts/Orbitron/static/Orbitron-Regular.ttf);
}

.mainBG {
    background: url(/assets/ff0d0add-c66f-49ab-bc6f-d28c39193bd0.png) no-repeat center center fixed;
    background-size: cover;
}

.nightBG {
    background: url(/assets/5beab6a6-0f16-40b5-ac5d-665cc8dad5cc.png) no-repeat center center fixed;
    background-size: cover;
}

.currentLocationBox{
    width: 100%;
    height: 394px;
    background-color: rgba(200, 255, 229, 0.9);
    border-radius: 30px;
    margin-left: 8.783%;
    margin-right: 8.783%;
}

.currentLocationNightBox{
    width: 100%;
    height: 394px;
    background-color: rgba(208, 200, 255, 0.9);
    border-radius: 30px;
    margin-left: 8.783%;
    margin-right: 8.783%;
}

.fiveDayBox {
    background-color: rgba(200, 245, 255, 0.9);
    border-radius: 30px;
    border: none;
}

.locationHeader {
    font-family: RoadRage;
    font-size: 100px;
    color: black;
}

.locationHeaderNight {
    font-family: RoadRage;
    font-size: 100px;
    color: white;
}

.vl {
    border-left: 1.5px solid rgba(35, 99, 68, 1);
    height: 351px;
  }

.font1 {
    font-family: SometypeMono;
}

.font2 {
    font-family: OrbitronRegular;
}

.font3 {
    font-family: OrbitronBold;
}

.currentTempFont {
    font-family: OrbitronXtraBold;
}

.navFont {
    font-family: OrbitronBlack;
}

.form-control::placeholder { 
    color: black;
    opacity: 1;
}

.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
  }

.temperature {
    background-image: linear-gradient(to right, rgba(0, 129, 185, 0.85), rgba(255, 213, 65, 1));
    height: 15px;
    width: 100px;
    border-radius: 15px;
}

.noHover{
    pointer-events: none;
}